/* font-family: 'Roboto', sans-serif; */

body {
    font-family: 'Roboto', sans-serif;
}

/*----------------------MODAL-----------------------*/


.fade-custon {

    margin-top: 150px;
    
    
    }
    
    .login-title {
    
        font-family: sans-serif;
        font-size: 10px;
        font-weight: 300;
        text-align: center;
    
    }
    
    .text-conta {
    
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        padding: 20px;
    
    }
    
    .logo-modal {
    
        width: 40%;
        margin-left: 130px;
    
    }
    
    .modal-title-custon {
    
        text-align: center;
        color: #f74d0a;
        font-size: 24px;
    }
    
    
    /*.remember-link {
    
        text-decoration: none;
        color: black;
        text-decoration: underline;
        text-align: center; !important;
        padding: 15px;
        display: block; !important;
           
    }
    
    
    /*--------------- BARRA DE NAVEGAÇÃO ---------------*/
    
    header, .navbar{
        /*background-color: #f59c28c3;*/
        background-color: #242424; 
       
    
    }
    .navbar-nav-custom {
        gap: 20px;
        width: 100%;
        justify-content: end;
        padding-right: 12px;
    
    }
    .btn-custom{
        /*background-color: rgba(255, 68, 0, 0.29);*/
        /*background-color: rgba(239, 217, 20, 0.788);*/
        background-color: rgb(254, 168, 62); 
        border: 1px solid /*grey*/ ;
        border-radius: 10px;
        width: 80px;
        transition: 0.7s;
    
    }
    .btn-custom:hover{
        /*background-color: rgb(254, 168, 62) /*rgba(255, 68, 0, 0.874)*/
        background-color: #ffa70f;
        
    }
    .nav-item .link-edit{
        /*color: #454545;*/
        /*color: rgba(255, 255, 255, 0.678);*/
        color: rgba(254, 168, 62, 0.822);
        transition: 0.7s;
    }
    .nav-item a:hover{
        /*color: rgb(98, 255, 0);*/
        /*color: hwb(9 0% 2%);*/
        color:  #f74d0a;
    }
    /* -----------LOGO----------------- */
    #logo{
        width: 10%;
                
    }
    
    .container-fluid a {
    
        color: rgba(254, 168, 62, 0.822);
        
    }
    /* .navbar{
        padding: 0;
        color: #fff;
    } */
    
    
    
    /* .navbar-exppand-lg .navbar-nav .nav-link{
        padding: 1rem .8rem;
    
    } */
    /* .navbar-nav .me-auto .mb-2 .space {
        display: flex;
        justify-content: flex-end;
        
    } */





.receitas img{
    width: 100%;
    top: 80px;
}

.title h1 {
    font-weight: 900;
    font-size: 64px;
    padding-left: 122px;
    text-transform: uppercase;
    padding-top: 32px;
    width: 100%;

}

label{ cursor: pointer;}
#coracao { display: none;}
#coracao:checked+label>svg {
    animation: preencher;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
@keyframes preencher {
    0% {
        fill: transparent;
    }
    100% {
        fill: red;
        opacity: 0.8;
    }
}


bac
.favorite {
    padding-left: 122px;
    stroke: red;
   
    
    
}



.sobre-receitas p {
    padding-left: 122px;
    padding-top: 36px;
    font-size: 18px;
    width: 100%;

}

.dados {
    padding-left: 120px;
    display: flex;
    gap: 280px;
    font-size: 24px;
    font-weight: 600;
    padding-top: 32px;
    width: 100%;
    
   
}

.origem {
    padding-left: 122px;
    font-size: 24px;
    padding-top: 4px;
    text-decoration: none;
    
    
    
}

.origem a {
    text-decoration: none;
    color: #0085FF;
}


.ingredientes {
    padding-left: 140px;
    line-height: 30px;
    padding-top: 10px;
}

.title-tutorial {
    padding-left: 122px;
    padding-top: 42px;
    font-size: 36px;
    

}



.video-receitas iframe {
    width: 100%;
    height: 659px;
    padding-top: 16px;
    padding-bottom: 32px;
    padding-right: 50px;
    padding-left: 122px;

}

footer {
    background-color: #171717;
}

.teste {
    min-height: 300px; 
    background-color: #171717;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
} 

.quem-fez{
    padding: 20px 50px;
    /* padding-top: 80px;
    display: inline-block;
    justify-content: space-between; */
    /* margin-left: 90px; */

}

.quem-fez a {
    text-decoration: none;
}

.quem-fez h3 {
    font-size: 24px;
}

.quem-fez p {
    font-size: 14px;
    /* padding-top: 14px; */
    color: rgba(255, 255, 255, 0.75);
    
}

.icon-rede {
    width: 40px;
    height: 40px;
    padding-top: 12px;
}

.data-footer {
  
    /* padding-top: 60px; */
    font-size: 20px;
    color: red;
    text-align: center;
    
}










@media (max-width: 460px) {
    .title h1 {
        padding-left: 20px;
    }

    .favorite {
        padding-left: 20px;
    }

    .sobre-receitas p {
        padding-left: 20px;
    }

    .dados {
        padding-left: 20px;

    }

    .origem {
        padding-left: 20px;

    }

    .ingredientes {
        padding-left: 50px;
    }

    .title-tutorial {
        padding-left: 20px;

    }

    .video-receitas iframe {
        padding-left: 20px;

    }

}

@media (max-width: 660px) {
    .video-receitas iframe {
        height: 400px;
    }
}





